APP_NAME=Your App Name
SECRET_KEY=your-secret-key
FRONTEND_URL=http://localhost:3000
VERIFICATION_TOKEN_EXPIRATION_MILLISECONDS=0
ACCESS_TOKEN_EXPIRATION_MILLISECONDS=0
REFRESH_TOKEN_EXPIRATION_MILLISECONDS=0
RESET_PASSWORD_TOKEN_EXPIRATION_MILLISECONDS=0