<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset - ${appName}</title>
</head>
<body>
<p>Dear <span th:text="${firstName}"></span> <span th:text="${lastName}"></span>,</p>
<p>You're receiving this email because you requested a password reset for your "<span th:text="${appName}"></span>" account.</p>
<p>Please click the following link to reset your password:</p>
<p>
    <a th:href="${resetPasswordLink}" th:text="${resetPasswordLink}">Reset Password Link</a>
</p>
<p>This link will expire in <span th:text="${expirationMinutes}"></span> minutes.</p>
<p>If you did not request a password reset, please ignore this email or contact support if you have concerns.</p>
<p>Thanks for using our app!</p>
<p>The <span th:text="${appName}"></span> team</p>
</body>
</html>